__pycache__/Ui_Main.cpython-37.pyc
dist/LoadS2P.exe
build/LoadS2P/xref-LoadS2P.html
build/LoadS2P/warn-LoadS2P.txt
build/LoadS2P/PYZ-00.toc
build/LoadS2P/PYZ-00.pyz
build/LoadS2P/PKG-00.toc
build/LoadS2P/PKG-00.pkg
build/LoadS2P/LoadS2P.exe.manifest
build/LoadS2P/EXE-00.toc
build/LoadS2P/base_library.zip
build/LoadS2P/Analysis-00.toc
__pycache__/LoadS2P.cpython-37.pyc
LoadS2P.spec
__pycache__/Ui_Main.cpython-36.pyc
